<div class="w-75" style="margin: 0 auto;">
    <div>
        <h1 class="text-center">GESTIONAR PRODUCTOS</h1>
    </div>
    <br>
    <a href="/producto"><button class="btn btn-success" style="margin-left: 125px;">Agregar</button></a>
    <br>
    <br>
    <table class="table table-bordered w-75" style="margin: 0 auto">
        <thead class="bg-danger text-white fw-bold">
            <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th>PRECIO</th>
                <th>CATEGORIA</th>
                <th>IMAGEN</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>123</td>
                <td>HolaBB</td>
                <td>450000</td>
                <td>Su madre</td>
                <td class="text-center"> 
                    <img src="" width="50" height="50" alt="">
                </td>
                <td class="text-center" style="font-size: 4vh;">
                    <a href="/">
                        <i class="fa fa-edit text-warning"></i>
                    </a>
                    <i class="fa fa-trash text-danger" ></i>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
